[2021-01-20 07:34] akaszynski opened #4 "Update Docs CI"
Use github actions rather than azure pipelines just like DPF-Core, DPF-Post, and PyMAPDL.

Also need to fix the menu bar.

Consider creating a unified documentation module.

[2021-01-30 23:03] mechajeff opened #6 "Include component data in written .cdb files"
All components of an archive should be written to file with .save_as_archive()

[2021-02-01 06:51] xiaomaiAI opened #7 "How to get the middle side nodal stress"
Hi,
  how can I get the middle side nodal stress from `.rst` file, the results always be `nan` from `plane183`. Thank you.

[2021-02-01 12:51] akaszynski commented on #7
MAPDL doesn't calculate stress values for mid-side notes, just for edge nodes.  I recommend interpolating these values from the edge nodes using another software package (perhaps pyvista's interpolation filter) if you'd like to get values at the mid-side notes.  Realize that the interpolation won't be perfect since it's not an averaged extrapolation as in the edge nodes.

For more details regardin

[2021-02-02 03:06] #4 closed

[2021-02-05 22:07] #7 closed

[2021-02-07 07:49] #6 closed

[2021-02-25 07:59] xiaomaiAI opened #14 "how to get the bottom nodal stress"
Hi,
  Is there any method to get the bottom nodal stress from `.rst` file, Thank you.

[2021-02-25 18:13] akaszynski commented on #14
As in from shell elements?  There's not a specific method for this at the moment, but you can grab this from the element nodal results from `element_solution_data` and then reference the Ansys element guide to determine the format of the data:
https://www.mm.bme.hu/~gyebro/files/ans_help_v182/ans_elem/Hlp_E_ElemTOC.html

If you need a specific API call or method to be able to grab these results, l

[2021-02-26 01:44] xiaomaiAI commented on #14
Now we can get the nodal stress data from `nodal_stress` is always top nodal stress in SHELL element. If you can provide a method to output all data(top/mid/bottom) is better. But I can not update the codes because there is a special version that do not store mesh data，I'll try as your suggestion，thank you.
[shell181.zip](https://github.com/pyansys/pymapdl-reader/files/6046901/shell181.zip)

[2021-03-10 03:43] xiaomaiAI opened #16 "How to close file"
Hi,
    I found that after read `.rst` file by `read_binary`, the file did not close automatically. Is there any method or way to close it? Thank you.

[2021-03-10 04:44] akaszynski commented on #16
I've found that you can get faster performance by keeping the file open rather than opening and closing it for each read.  If you need to close the file, you can `del <result object>` and the file will automatically close.  If it doesn't, we need to fix that.

[2021-03-10 05:51] xiaomaiAI commented on #16
sorry，now the version I used is v0.44.5, a special version that does not store mesh datas, maybe this version could not `del` or something? may I modify the codes and make it works? Thank you.

[2021-03-10 14:27] akaszynski commented on #16
You're always free to modify the code.  If you're familiar with GitHub, you could even create a fork of `pymapdl-reader` and then you can even start committing code and then pushing to your fork.  Otherwise, you can just copy the code on your machine and modify it locally.

[2021-03-11 01:46] xiaomaiAI commented on #16
Thanks for your reply, I did not fork the `pyansys v0.44.5` which you modified to not store mesh data for me, and you remove this version soon. I only downloaded the release version by `pip`, so I have no idea about what did you modify on that version, or does the latest codes support switch off store mesh datas? Thank you.

[2021-03-11 01:49] xiaomaiAI commented on #16
SORRY. my mistake, I find the version is `0.44.15`, not `0.44.5` , thanks for your help.

[2021-03-11 05:46] #16 closed

[2021-03-11 09:52] JackGuyver opened #17 "Import of mesh including radiation fails"
I recently created some thermal simulation cases that include radiation boundary conditions, exported the corresponding mesh to a CDB file and tried to read it using the `Archive` class:
[code]
For some cases the reader will then freeze. If I suppress the radiation bc, the mesh is read smoothly.
I was able to boil the effect down to a very simple testcase that I attached.

[Cube.zip](https://githu

[2021-03-22 23:00] akaszynski commented on #17
Sorry this one took so long to get to.  I should be more careful when saying "over the weekend".

Bug is related to the placement of the RLBLOCK reader.  File reads correctly now, and be on the lookout the next release ``ansys-mapdl-reader``, which should be out by the end of today.

[2021-03-23 19:30] JackGuyver commented on #17
No problem at all.
Getting the solution served on a (release-) plate after less then two weeks is still a wonderful response time and kind of support.
I can indeed confirm that my testcase now gets read exactly as expected. I'll move on to the more realistic geometries next.

Thank you very much for your fix, your work on this tool is very much appreciated!

[2021-03-23 19:30] #17 closed

[2021-03-26 08:30] DKreuter opened #20 "pip installation ended with error"
Hi, I have some problems installing pymapdl-reader using pip.
I use a plain environment (only python, pip and numpy, cython installed) and try to install pymapdl-reader.

But that ends up with the following error:

`
ERROR: Cannot install ansys-mapdl-reader because these package versions have conflicting dependencies.

The conflict is caused by:
    pyvista 0.29.0 depends on vtk
    pyvista 0.28.1

[2021-03-26 15:12] akaszynski commented on #20
I'm guessing you're using Python 3.9 or some other python env that doesn't have a VTK wheel available.

VTK doesn't have a Python 3.9 solution (yet).  If you're working on a conda environment you can install the package as they have wheel for 3.9, but if outside of conda, use Python 3.8 for now until they have a wheel.

I'm working on implementing a Conda package for this module so these issues wi

[2021-04-08 07:24] xiaomaiAI commented on #14
Hi,
    Now I get the element stress from `element_stress()` and `in_element_coord_sys=False`, the top half datas are rotated to global, but bottom half don't. Does this method only rotate the top half? Thank you.

[2021-04-12 06:10] DKreuter commented on #20
Great, thanks for the info. With python 3.8 everything works. Really great enhancements so far in the pymapdl-reader.

[2021-04-12 15:10] akaszynski commented on #20
I'm keeping this open to remind myself to add a minimum version to the python_requires for now.  You can get around this with anaconda's VTK, so I may alternatively have to check if VTK is available for the platform/python version and then proceed with an install.

[2021-04-28 02:01] xiaomaiAI opened #23 "RLBLOCK read error"
Hi,
  Reading a `.cdb` file with `Archive()`, and there is something wrong in reading `RLBLOCK` lines, here is the file, Thanks.
[cdb_file.zip](https://github.com/pyansys/pymapdl-reader/files/6388599/cdb_file.zip)

[2021-04-28 05:27] xiaomaiAI commented on #23
Sorry, the latest version is working.

[2021-04-28 05:27] #23 closed

[2021-04-28 05:35] akaszynski commented on #23
Thanks for checking, was about to download.

[2021-04-28 14:22] maximepollet27 opened #24 "Determining the principal directions"
Hi,

I am working on a stress analysis using SOLID185 elements and I am trying to determine the local coordinate system in which the principal stresses are. From looking at some other issues posted here before (https://github.com/pyansys/pymapdl/issues/283 and https://github.com/pyansys/pymapdl/issues/28), it seems that I will have to use the element Euler angles, which are stored in the binary fi

[2021-04-30 10:39] maximepollet27 commented on #24
Hi @akaszynski,

Thank you for your reply, it really helps. The reason why I was trying to use the Euler angles was that I thought that these were the angles between the directions of the principal stresses and the global coordinate system. However, if I understand correctly, they are actually the angles between the global coordinate system and the local element coordinate system.

Still, I think

[2021-05-05 01:47] akaszynski commented on #24
Correct.  One more detail: these are actually encoded at the "ElementNodal" level, which means that each node of each element has a (potentially) unique value.  The rotation of these results from the nodal coordinate system to the global coordinate system is handled in Cython at:
https://github.com/pyansys/pymapdl-reader/blob/4d5edad7f3784819b9edec994f2acf8d21c4964c/ansys/mapdl/reader/cython/_bina

[2021-05-05 14:23] maximepollet27 commented on #24
Hi @akaszynski,

Thank you for your help, it all works fine now.

[2021-05-05 14:23] #24 closed

[2021-05-13 21:42] CesarRodriguezPereira opened #28 "Deprecation issues with pyvista"
While fooling around with the functions ```plot_nodal_solution()``` and ```animate_nodal_solution()```  I've gotten some small issues due to changes in pyvista:

With ```plot_nodal_solution()``` it raises an error due to the use of ```stitle``` as a keyword, instead of  the suggested use of '''scalar_bar_args={'title': 'Scalar Bar Title'}'''. This is just a warning, so the function works and plots

[2021-05-13 22:23] akaszynski commented on #28
For the moment, keep with `pyvista==0.29.1` until I can implement the fixes.

[2021-05-14 19:51] natter1 commented on #28
I guess there are larger changes to be expcted for plotting, but if you want a short-term fix in your own environment, I think you only need to ad it to `general_plotter()` - all other plot functions use `kwargs` which are transfered to this function (hope I remeber correctly - I implemented a plotter-parameter, which was slightly more complicated)

[2021-05-18 09:53] CesarRodriguezPereira commented on #28
The general plotter is used for the core library plots, but the function I modified were contained withing the reader. ```_plot_point_scalars()``` seemed to be the master function, at least for the ones I needed, so I added it as a kwarg there, within my own env.

[2021-05-18 22:50] akaszynski commented on #28
Fixed in #29.  Theme based changes will be pushed when updating to `pyvista==0.30.2`.

[2021-05-18 23:23] #28 closed

[2021-05-29 01:36] Rfaelv opened #30 "plot_nodal_solution doesn't create the animation when parameter off_screen=True"
I try:

result.animate_nodal_solution(6, movie_filename='movie6.gif', cpos=cpos, loop=False,  off_screen=True, background='w')

and I got a static image of the first frame.

[2021-05-29 04:51] akaszynski commented on #30
Could you please run the following?
[code]

And let me know what the output of the report is?

[2021-05-29 09:00] 1990chs opened #33 "Issues about reading results from rst file"
I want to use this modulus in ANSYS act. The nodes are from ironPython and it is list(for example nodes = [1,2,3....1000]). The nodes have midside nodes. I want to get the cornor nodes stress values and temperatures. In the ANSYS classic, first use "nsle,r,corn" to remove the midside nodes and use *get to get the node value.
From issue pyansys/PyMAPDL#50 ,we can use the following codes to read res

[2021-05-29 13:01] Rfaelv commented on #30
![image](https://user-images.githubusercontent.com/82391210/120071222-a4dad700-c064-11eb-8192-e7a5ea9768e5.png)

[2021-05-31 14:48] REM2021 opened #42 "plot principle stress in combination with a MASS21-element"
Dear Mr. Akazynski,

We work with cruciform joints and have a problem regarding the principle stress in combination with a MASS21-element for the CERIG-command.

[issueplotstress.pdf](https://github.com/pyansys/PyMAPDL/files/6570969/issueplotstress.pdf)

[2021-06-01 14:00] Tyrin451 opened #31 "Numbering issue and type conversion of a pointer"
Hello,

In our usage of ANSYS APDL, we number the element type/real/section with a custom non contiguous numerotation.
In consequence I have relatively large number on element type/real/section (over 50 000).

In order to read my result file I had to modify the following files :

mesh.py line 121 :
`type_ref = np.empty(2 << 16, np.int32)  # 65536 -> 131072`

rst.py  (line 1342 to 1346):
[code]

Du

[2021-06-01 22:38] akaszynski commented on #31
These are great catches!  I'm implementing these fixes in a patch release of the reader.  Thanks for your work finding these issues.

[2021-06-02 04:29] akaszynski commented on #31
@Tyrin451, please checkout https://github.com/pyansys/PyMAPDL-reader/tree/fix/typeref_int and let me know if it works for you.

If you're unfamiliar with git, you commands will be:
[code]

You can forgo the `-e` flag, but I like to install with that mode when testing out things so I can quickly revert to master and reinstall.

[2021-06-02 04:47] akaszynski commented on #33
I've transferred this from the other repository since this is the more relevant repository for reader related questions.

[2021-06-02 05:50] 1990chs commented on #33
Thinks.By the way, is there ansy quick way to get the corresponding nodes values ？The way I think is using  the loop function  for each node in the nodes list (for example,nodes=[1,2,3,....,100]. But maybe Iit is very slow when the node number very biger.
Beside if the whole ANSYS rst mode very big, there maybe be not enough memory to use 'nnum, stress = result.nodal_stress(0) ' to get all the nod

[2021-06-02 07:27] Tyrin451 commented on #31
Thanks ! this patch work fine.

However I think that an optimization is required in binary_reader.pyx.

I loop over my results sets (~4000 ) and the time per call is not consistent.
tqdm says 60it/s in the beginning then it fall to 8it/s.

On the 100 first sets I have the cProfile:
[code]

and for the all dataset
[code]

The append of the record to the pythonic list could be the problem  (_binary_

[2021-06-02 09:54] Tyrin451 commented on #31
Never mind, sometimes the iteration rates drop and sometimes not... I don't clearly identify why.

I think this issue can be closed. Thank you !

[2021-06-02 14:40] akaszynski commented on #31
Read element data is remarkably inefficient and I've not put much effort in optimizing that since I've been under the assumption that most will use the nodal results (since it's one contiguous array of data).

200 seconds is pretty terrible.  Let me look into this and see if there's a way to optimize it.

[2021-06-02 16:19] akaszynski commented on #31
Interestingly, I'm not seeing a huge variation between the array approach and the list approach.  For example, the same data ('ENS') with the list and then the array methods on a 6.6 GB file:

[code]

Respective timing in seconds:
[code]

I'm also seeing some variation in the run times.  I think it has to do with the random read operations when working with the result file.  The way these results

[2021-06-02 16:43] #31 closed

[2021-06-02 16:59] akaszynski commented on #33
You'll want to use arrays.  Assuming you want nodes in the range of 1 - 1000:

[code]

At the moment it's configured to get all results, but that's actually something I can patch.  Look for the next release for this feature.

[2021-06-03 01:24] 1990chs commented on #33
Thinks
`desired_nodes = np.arange(1, 1001)
mask = np.in1d(nnum, desired_nodes)
my_nodes = nnum[mask]
my_stress = stress[mask]
`
If the nodes number are not continuous, and I can translate the nodes list to numpy array, so the code `mask = np.in1d(nnum, desired_nodes)`  can also be used ?

[2021-06-03 02:24] akaszynski commented on #33
Yes.  `numpy` is pretty smart and you can even have duplicate nodes and the mask will still work out.  You can test this with:

[code]

[2021-06-03 03:16] 1990chs commented on #33
Thinks, so this issue will open and you can close it after patch this feature in the future.
If possible, it is better to path all the  relevant API.

[2021-06-08 16:08] jgd10 opened #36 "`fps` is not carried over to the saved video file in `animate_nodal_solution_set`"
when calling `animate_nodal_solution_set`, there is an optional argument `fps` that defaults to 20. If you subsequently choose to save the animation to a movie (NOT a gif), the command has a framerate parameter, but the value of `fps` is not passed along.

I.e. if you call the mapdl-reader command with an fps of 1 (for example) and save the animation as a movie file, the movie file is saved at the

[2021-06-08 22:23] #36 closed

[2021-06-11 08:27] Keynaan opened #40 "Missing requirement of matplotlib in setup.py"
Hi @akaszynski,

excuse me to be annoying, but as a follow up to the discussion we had in [pyvista](https://github.com/pyvista/pyvista/issues/1364), I think the requirement of `matplotlib` ist still missing in `setup.py` of `ansys-mapdl-core` and needs to be added as  in [ansys-mapdl-core](https://github.com/pyansys/PyMAPDL/blob/baa251ee49487d598da4a56f626bf1ace3796985/setup.py#L17).

It seems tha

[2021-06-11 15:40] akaszynski commented on #40
Added this in #39, and the next release will be built in the next 30 minutes.  Patch will be out in `ansys-mapdl-reader=0.50.16`

[2021-06-11 15:41] akaszynski commented on #40
I'll add this in `ansys-mapdl-core` as well.

[2021-06-12 00:07] akaszynski commented on #40
Added in both.  Thanks for posting this issue and keeping me informed!

[2021-06-12 00:07] #40 closed

[2021-06-14 12:44] Keynaan commented on #40
Thanks alot. :+1:

[2021-06-17 16:46] akaszynski commented on #42
Seems there's two issues.  The first is the plotting issue which will be fixed in #34.  The second is a MAPDL issue, which I'll have to create a separate issue for.  Will close this issue and create a second.

Release for `pymapdl-reader` with this fix will be out today.

[2021-06-17 16:51] akaszynski commented on #42
Can't reproduce large `V_b` issue on 2021R1 or 2021R2.  I'm using the newer gRPC interface that might be more stable.  CORBA support isn't great...

[2021-06-17 17:24] akaszynski commented on #33
Feature added in `ansys-mapdl-reader==0.51.0`.

[2021-06-17 17:24] #33 closed

[2021-06-17 17:24] akaszynski commented on #42
Bugfix added in ``ansys-mapdl-reader==0.51.0``.  Release should be out in an hour.

[2021-06-17 17:24] #42 closed

[2021-06-17 22:33] akaszynski commented on #30
Found the bug.  Expect this fixed in the next release 0.51.1.  Sorry it took so long to get around to.

[2021-06-17 22:43] #30 closed

[2021-06-17 23:32] Rfaelv commented on #30
Thanks!

[2021-06-18 00:35] akaszynski commented on #20
Resolved in #44

[2021-06-18 00:35] #20 closed

[2021-06-18 01:15] 1990chs commented on #33
Thinks, I will update the ansys-mapdl-reader in next weekend. By the way does the document update ? So how to use it ?

[2021-06-18 03:24] akaszynski commented on #33
Documentation does update automatically.  Docs can be found here:
https://readerdocs.pyansys.com/api/rst.html

I'll be adding a version to the most active docs so it's apparent what version is active.

[2021-06-18 03:37] 1990chs commented on #33
OK, Thinks

[2021-06-19 01:14] akaszynski commented on #14
Completely missed this last comment.  Both bottoms and tops should be rotated.  I'll patch this.

[2021-06-22 12:25] 1990chs commented on #33
@akaszynski
Hello, I have a problem to read the result when I read the nodes from a txt file.
But when I set the all_nodes a few nodes,it can work.
By the way, the result.principal_nodal_stress(0) read all the nodes result and I can't assign the the specific nodes.
![image](https://user-images.githubusercontent.com/27892759/122923602-72887500-d397-11eb-8972-e4ce6b2f1536.png)

[2021-06-22 13:01] akaszynski opened #47 "Element numbering not being assigned to grid"
Opened a new issue regarding this

@akaszynski
Hello, I have a problem to read the result when I read the nodes from a txt file.
But when I set the all_nodes a few nodes,it can work.
By the way, the result.principal_nodal_stress(0) read all the nodes result and I can't assign the the specific nodes.
![image](https://user-images.githubusercontent.com/27892759/122923602-72887500-d397-11eb-8972-e4ce6

[2021-06-22 14:31] 1990chs commented on #47
sorry, the result file in my company computer. It impossible to export result file. The nodes which stored in txt file have midnodes , does it influence the function?

[2021-06-22 19:10] akaszynski commented on #47
It shouldn't,  I'll take a look at this error locally.  Effectively, the element number aren't being exported to the internal grid, and I can't tell why not.  Midside nodes shouldn't be contributing to this bug.

[2021-06-23 01:22] 1990chs commented on #47
Ok. I will check it again. Maybe the nodes are not corrected. I need check.
```principal_nodal_stress(rnum)``` this API can't assign the nodes numbers . It needs update.

[2021-06-23 04:29] akaszynski commented on #47
Thanks for letting me know.  I'll get working on this.

[2021-06-23 11:02] 1990chs commented on #47
It seems that there are some problems to read nodes ID from txt file. I input the nodesID in python file directly, it can work, but there is a warining .
![image](https://user-images.githubusercontent.com/27892759/123086084-9611f500-d455-11eb-88bb-b8ab04093084.png)

[2021-06-25 08:15] Anderstend opened #48 "Cannot get complex values"
Hello, thank you very much for the very good work. I have tried the interface, but so far I have not been able to read the complex values (stress, force, displacement) from the result-file of a harmonic analysis.

I have tried it with both nodal_stress and element_stress, both functions only return the real values.

[2021-06-25 15:10] NDfp opened #49 "Definition of ELEMENT_INDEX_TABLE_KEYS and ELEMENT_RESULT_NCOMP"
Hello,
Would it be possible to add the definition of the variables ELEMENT_INDEX_TABLE_KEYS and ELEMENT_RESULT_NCOMP to the Result class?
[code]
In this way, they can be accessed from outside the rst.py file.
Thank you
Francesco

[2021-06-25 15:22] akaszynski commented on #49
Will do.  How soon do you need this released?

[2021-06-25 15:33] NDfp commented on #49
That is great, thanks.
As usual, the sooner the better ;o)
It would be good for the end of July.

[2021-06-25 15:43] akaszynski commented on #49
I can have it by today, it's a trivial fix.  If you want, you can even fork and make a PR if you'd like to contribute (could even use the web interface).

Got a few other fires to put out first.

[2021-06-25 20:17] NDfp commented on #49
No hurry.
I can try next week, so I learn how to do it.

On Fri, 25 Jun 2021, 17:43 Alex Kaszynski, ***@***.***> wrote:

[2021-06-29 15:27] NDfp opened #51 "Error while running self._resultheader['ptrGEO']"
Hello,
I am trying to import some data from an .rst file.
Unfortunately, when running:
`result = Result('file.rst', read_mesh=False)`
I get the following error:
[code]
Do you have any suggestions concerning the possible cause?
Might the problem be related to the .rst being generated with an older Ansys version (19.2)?

Thank you
Francesco

[2021-06-29 15:32] NDfp commented on #49
Closed in this [PR](https://github.com/pyansys/pymapdl-reader/pull/50).
Thank you!!

[2021-06-29 15:32] #49 closed

[2021-06-29 16:12] akaszynski commented on #49
Well done with your first PR!

[2021-06-29 16:13] akaszynski commented on #51
Quite likely.  Can you upload the file here or if you're not comfortable with that, to my business email at alexander.kaszynski@ansys.com

[2021-06-30 07:53] 1990chs opened #52 "principal_nodal_stress(rnum) etc API suggestion"
principal_nodal_stress(rnum) this API can't assign the nodes numbers.  It needs update.
I have check the API document and I found some API can't assign nodes numbers or component.
The list is follow.
[code]

[2021-06-30 07:56] 1990chs commented on #47
the error solved , and I will open an issue #52 about the suggestion features

[2021-06-30 07:58] 1990chs commented on #47
Why can't this issue  close?

[2021-07-01 03:02] xiaomaiAI opened #53 ".rst file result precision question"
Hi,
    Is rst result datas store in float type? I took these datas compared with ANSYS solution, I found only 6 or 7 significant digits
are correct.  thanks.

[2021-07-01 04:16] akaszynski commented on #53
In the header file describing Ansys resutls, `fdresu.inc`, there are detailed descriptions of each data type output from the result file.  It appears except for special cases, the result records are stored in double precision.

These header files are included in the unified install and can be found at:
[code]
Path may vary on Windows.

---

Since I'm not using any of Ansys's post-processing routin

[2021-07-01 04:18] #53 closed

[2021-07-01 04:19] akaszynski commented on #52
Thanks for posting this @1990chs.

We just had a baby, so it might take me longer than I'd like to patch this bug.  I should have something by Monday next week.

[2021-07-01 05:00] akaszynski commented on #51
I'm unable to reproduce the error using the latest `ansys-mapdl-reader` on either Linux or Windows Python 3.8 with:
[code]

Could you please verify this error occurs on the file you sent to my work email?

[2021-07-01 05:36] 1990chs commented on #52
Congratulation. It is OK

[2021-07-01 09:44] 1990chs commented on #52
I try to edit the rst.py as follow, do I modify is correct?
![image](https://user-images.githubusercontent.com/27892759/124103246-a9dfdb80-da93-11eb-9342-2c806ad42583.png)
![image](https://user-images.githubusercontent.com/27892759/124103267-b106e980-da93-11eb-9ba3-62908ecda23a.png)

[2021-07-01 15:23] jgd10 opened #55 "Make default colormap consistent with matplotlib (jet -> viridis/coolwarm)"
Several years ago matplotlib shifted from using the colormap [jet](https://www.mathworks.com/help/matlab/ref/jet.html) as its default, which was a legacy from when it imitated MATLAB.

jet is an extremely flawed and problematic colormap that should be avoided if possible (see below for details).

Matplotlib's change was precipitated by MATLAB shifting their default to [parula](https://uk.mathworks

[2021-07-01 15:30] akaszynski commented on #55
I don't like jet either, but it's something that Ansys loves using.  I'm curious what other users want as default, but in general, I agree with your findings.

`pyvista` doesn't use `jet` as default either.

[2021-07-01 15:46] jgd10 commented on #55
I would also like to hear what other users think, but also I'd be interested as to why people like jet and other rainbow colormaps. Looking at the visualisation community, most of the most common rainbow colormaps are near-universally reviled

[2021-07-01 15:46] jgd10 commented on #55
(closed by accident)

[2021-07-01 16:50] akaszynski commented on #52
If you fork and then create a PR, I'll be able to review your work and make suggestions.

[2021-07-02 01:39] 1990chs commented on #52
What's the PR? I am not a professional programmer.

[2021-07-03 16:46] akaszynski commented on #52
It's ok, I'm not either :)

PR is a pull request.  There's tons of examples on forking a repo and making a pull request.  Once you figure it out the first time it's not too bad.

[2021-07-04 05:55] 1990chs commented on #52
Thinks,yesterday I try to use vs code to push codes to my github .but not successed . Today  I use  git bash to push and successed. I have ask a pull request

[2021-07-05 08:17] NDfp commented on #51
I have found out that the cause of the error is that the file is read-only. When removing the read-only, the import works correctly.
I checked in common.py and the file is opened as read. Do you know what could cause the error?

[2021-07-05 09:27] CesarRodriguezPereira opened #57 "Weird black lines when using plot_nodal_solution or animate_nodal_solution"
Hi,

I've just updated my pyansys installation from 0.58.9 to 0.59.3 and with the update, it seems like both of these reader functions are not functioning as well as they did before. When plotting results, now some black lines appear, worsening the view of solids and surfaces, and even completely obscuring the view of the result along line bodies.
A couple of images of this behaviour for reference

[2021-07-05 18:59] akaszynski commented on #57
Appears to be due to the normals calculated when enabling smooth shading.  Try `smooth_shading=False`.

[2021-07-05 19:10] akaszynski commented on #51
`'rb'` is just read binary, so that shouldn't be an issue, but there's another spot in the file where I open it as a `fstream`, which is read/write.

There was a feature request a while ago to overwrite results in the result file that resulted in a significant refactor of the code base.  I could allow an option to open in read/read write, but that's a non-trivial PR.

Is it possible just to disabl

[2021-07-05 19:30] CesarRodriguezPereira commented on #57
Thanks, it works perfectly! Maybe that could be thrown in as a default value (if this is widespread at all), but is a really quick an easy fix!

[2021-07-05 19:33] akaszynski commented on #57
I think changing that to default is a good idea since there's some funky behavior that happens in other plots as well.

[2021-07-14 12:38] 1990chs opened #58 "nodes num can't mach"
There is a strange question as follow. when I use nodal_stress(0,all_nodes) to  get nodal stress . But the len num don't match the len stress,it very strange. As follow, the length of num is 915980, it does't match the input nodes length. The length of stress is 893061, it is the same as the input nodes length. Why this happen ?
![image](https://user-images.githubusercontent.com/27892759/125622982

[2021-07-17 06:49] 1990chs commented on #58
First I remove midnodes and the num lengh is the same as the stress length. But the stress result don't right related to interested nodes . If I input only one node, the stress is right .
The FE model I used have several element types:  tetrahedron element ,pyramid element, hexahedra element, hexagonal element. The interface of elements have the same nodes.
So I guess there is some problems when g

[2021-07-30 08:34] JackGuyver opened #59 "Temperature read from rst file seems to differ from nodal values"
Hi everybody,

a colleague of mine recently set up a simulation test case where we plan to combine mechanical and thermal loads (basically forces and heatfluxes). To do so, `SURF154` and `SURF152` elements for the respective loads, as well as `SOLID226` and `SOLID227` elements for the volumes in the mesh are being created.

In principal this works as expected and when processed in the Ansys Workbe

[2021-08-02 16:28] akaszynski commented on #59
Quite right.  It's a primary result and not a derived result like element stresses (computed at integration points, extrapolated/interpolated to nodes, averaged, etc).

Looking into this now, thanks for the thorough explanation!

[2021-08-02 17:07] akaszynski commented on #59
I'm seeing the same issue on my end:

[code]

Returns:
[code]

---

In regards to this being a primary result, I noticed that MAPDL is returning mid-side values, indicating that it's computed temperatures as a primary result.  However, the file extension is a rst file and I'm seeing the primary results are displacement values from the result file.  Turns out that the `ansys-mapdl-reader` is comput

[2021-08-02 17:13] akaszynski commented on #59
Actually, I think what's going on is `ansys-mapdl-reader` and MAPDL are either including/excluding the solution from the 154/152 elements.

Working on a bug-fix for this.

[2021-08-02 18:33] JackGuyver commented on #59
Thank you very much for your fast reply and your explanation.

I already wondered if the root of this deviation has anything to do with our simulation setup. I'm well aware that we do bend the intended usage quite a bit by using the SURF152 elements together with thermal boundary conditions within a deformation simulation writing a rst file.
However, this works quite well for our use cases and ena

[2021-08-02 18:38] akaszynski commented on #59
Got a fix, turns out I just ignore 154 elements.  Patch coming...

[2021-08-03 03:15] akaszynski commented on #59
Resolved in #61 and out in [`ansys-mapdl-reader==0.51.4`](https://pypi.org/project/ansys-mapdl-reader/0.51.4/#description)

[2021-08-03 08:14] JackGuyver commented on #59
After updating to `0.51.4` the temperatures now indeed are what I would expect for my original test case.

Thank you very much for the very fast and detailed reply and the version update.
The speed and quality of your support is really impressive.

Resolved > Closed.
Best regards from Germany,
  Sebastian

[2021-08-03 08:14] #59 closed

[2021-08-04 04:42] AndreasGschwentner opened #63 "comp_type in write_cmblock"
Hey,

function write_cmblock() in archive.py isn't up to date. In the if-statement (line 626):

`if comp_type.upper() not in ['ELEMENT', 'NODE']`

ELEMENT has to be changed to ELEM.

Best regards
Andreas

[2021-08-05 03:36] akaszynski commented on #63
According to the Ansys Programmer's guide (as of 2021R2):

[code]

Reference section 3.2.5 in:
[Ansys_Mechanical_APDL_Programmers_Reference.pdf](https://github.com/pyansys/pymapdl-reader/files/6935747/Ansys_Mechanical_APDL_Programmers_Reference.pdf)

---

Is there something else I'm missing?

[2021-08-05 07:36] AndreasGschwentner commented on #63
Thanks for your answer.

That's interesting because in the cdb-Files I am working on, for the type of component ELEM is used and not ELEMENT.
I guess, both types are possible.

[2021-08-05 07:37] #63 closed

[2021-08-06 10:38] JackGuyver opened #64 "Reading nodal velocity data from RST file fails"
Hello everybody,

I encounter another problem when reading solution data from an `rst` file that might be related to the already solver issue #59.

I have created and uploaded the minimum example results file [cube.rst.zip](https://github.com/pyansys/pymapdl-reader/files/6944859/cube.rst.zip). My original script uses the `pymapdl-reader` to obtain various nodal data from the results file.
For disp

[2021-08-11 14:52] akaszynski commented on #64
Sorry @JackGuyver regarding the late reply.

I'll have to fix this regarding the assembly of the results.  Look for an update in the next day or two.

[2021-08-11 18:38] akaszynski commented on #64
Will be fixed in #65 and released in `ansys-mapdl-reader==0.51.5`.

[code]
![sc](https://user-images.githubusercontent.com/11981631/129084035-467a2295-aec1-4cea-acdd-5859c31ece13.png)

Please let me know if the solution works on your end.

[2021-08-12 06:23] akaszynski opened #66 "Animation causing issue with pymapdl docbuild"
See https://github.com/pyansys/pymapdl/pull/556

Likely caused by #62

[2021-08-15 12:54] AndreasGschwentner opened #67 "write_cmblock doesn't work by up_to = 0"
Hey,

the command `write_cmblock` isn't working, when the variable `up_to = 0`.
In the cdb-file, the elements are written in one line.

I think the problem is that `cmblock_items[:-0]` returns an empty array.

[2021-08-16 23:27] kiluam opened #68 "Pyansys can't read rst files from ansys 2021 R2"
I'm using Ansys 2021 R2, student version. Pyansys is showing the following error: 'ValueError: negative dimensions are not allowed', while reading an Ansys rst file. Pyansys is interpreting the rst files generated from earlier Ansys versions accurately. Does anybody have a clue about the issue?

[2021-08-16 23:27] akaszynski commented on #67
Thanks for pointing that out.  I'll have this patched in the next release.

[2021-08-17 04:11] akaszynski commented on #67
I'm keeping this open so I'll remember to address this.

[2021-09-03 09:22] JackGuyver commented on #64
`Sorry @JackGuyver regarding the late reply.`
No need to apologize, your reply came, again, much faster than I could expect it.
However, my answer took quite some time since I was out of office due to a combination of holiday and illness. I'm truly sorry for that.

`Please let me know if the solution works on your end.`
It perfectly does. Using `v0.51.5` the velocity is now being read successfully

[2021-09-03 09:22] #64 closed

[2021-09-26 08:48] xiaomaiAI opened #71 "rigid modal displacement issue"
Hi，
I've put the displacements solve from ANSYS and the displacements get from pymapdl-reader into comparation，I found the rigid modal displacements are different，is that not get from result file directly？why？ THANKS.

[2021-09-27 09:03] pmaroneh commented on #71
Hi,
You should indeed obtain similar results. Could you please share a small model and script that reproduces the issue so that I can look into it?
Thanks

[2021-09-27 10:12] xiaomaiAI commented on #71
[file.zip](https://github.com/pyansys/pymapdl-reader/files/7235389/file.zip)

[2021-09-28 14:36] pmaroneh commented on #71
Thanks for sending the .cdb input file and the result file. The .cdb does not define the type of analysis so I will not be able to rerun the model. I can however work from the .rst file directly. But I would need more information to be able to reproduce the problem: which postprocessing commands have you used, both in Ansys and in PyAnsys? Could you also share a screenshot of the difference that y

[2021-09-28 17:05] RGPATCHI commented on #71
Hi @xiaomaiAI

I solved the uploaded cdb file (Modal analysis) and used the rst file generated to compare the results between MAPDL and PyMAPDL. They look same. Please let me know if I am missing something.

I pasted the comparison for 1st mode for reference. I have also checked for other modes as well.

MAPDL - 1st Mode - Total Deformation Plot
![image](https://user-images.githubusercontent.com/8

[2021-10-08 02:03] xiaomaiAI commented on #71
Thanks. @RGPATCHI  and @pmaroneh
I have checked the numbers of the rigid body mode displacements between MAPDL and PyMAPDL,  I found they have different displacement results, not just the plot, maybe very close. And I'll test as your suggestions. THANKS.

[2021-11-16 22:19] germa89 opened #80 "fix/vtk crash"
It seems the VTK issue is affecting also `pymapdl-reader` library.

See: https://github.com/pyansys/pymapdl/pull/704

[2021-11-23 23:02] #80 closed

[2021-11-23 23:13] akaszynski commented on #68
Following up to this issue: 2021R2 result files can be read by `ansys-mapdl-reader`, if this is failing for specific result files, I'll need a minimum working example and sample file (ideally small) to be able to debug the issue.

[2021-11-24 01:22] #67 closed

[2021-11-24 10:21] lars-bittrich commented on #68
Maybe I can add some more information here: I investigated the issue and found out, that these new result files seem to use zlib compression at least for the element types. binary_reader.cpp does read the zlib flag but does not act on it in any way. Is there any documentation on this zlib compression available? I also try to get a minimal example. My current ones are more than 100MB.

[2021-12-06 14:41] mjc865 commented on #48
Are you passing in the flag to return complex values? Like:
result = pymapdl_reader.read_binary(rstfile)
set_number = 5
node_deflection = result.nodal_displacement(set_number, as_complex=True)

[2021-12-07 12:58] lars-bittrich commented on #68
Just as an update. So far I did not manage to get any small example because this zlib compression does seem to be activated only for big files. On the other hand, the zlib compression is fairly simple and the data read in each record just needs to be passed to zlib uncompress. I do not know how to handle all dependencies on C level here and it needs to be implemented in a lot of different but simi

[2021-12-07 14:15] mjc865 opened #86 "Cyclic analysis: forward/backward mode direction is inconsistent"
For a cyclic analysis, it looks like there's some inconsistency between the harmonic index of the result set, and the harmonic index as calculated from the sector boundary. Sometimes they match, and sometimes they don't.

Here's an uploaded results file (file_cyclic_test.rst) generated from Mechanical 2020R2:
http://filedropper.com/325u3Hvx
(simple model with 36 base sector nodes, 8 sectors, with

[2021-12-21 07:37] pClockworker52 opened #88 "Plotting beam elements"
I have a model with different element types and I want to plot just the vMises stresses for the beams with ``pyvista.Plotter()``.  I'm thinking about creating a mask vector like this,

[code]

but now I'm stuck.

How can I plot these?

[2021-12-22 13:37] #88 closed

[2022-01-07 15:39] akaszynski opened #89 "missing tar.gz in pypi"

[2022-01-12 05:52] akaszynski commented on #86
@mjc865, I was away from this repo over can you please upload again (ideally here in the issue)?

[2022-01-12 06:33] #89 closed

[2022-01-12 14:50] mjc865 commented on #86
[file_cyclic_test.zip](https://github.com/pyansys/pymapdl-reader/files/7855347/file_cyclic_test.zip)

I was actually looking into this yesterday - it looks like the signs of the harmonic indices aren't stored in the actual RST file, just interpreted from the code:

[file_cyclic_test.zip](https://github.com/pyansys/pymapdl-reader/files/7855347/file_cyclic_test.zip)

(rst.py line 220)

[code]

I gue

[2022-01-12 20:11] akaszynski commented on #86
That's my understanding as well, and it forced me to "guess" within `rst.py`.

Components are now written to rst files, so we can check if they exist as MAPDL will store these components when running `CYCLIC`.

[2022-01-13 11:15] germa89 opened #94 "Get rid of Pyvista deprecation warning"
**Describe the bug**

There is a deprecation warning every time we run one of our plotting functions:

For example: ``mapdl.eplot()``
[code]

[2022-01-18 13:27] jgd10 opened #98 "Incorporate pathlib compatibility"
This package does not yet support `pathlib.Path` objects, and this is causing issues in pymapdl (https://github.com/pyansys/pymapdl/issues/647).

Ideally we should:

- Allow input paths to be strings or `pathlib.Path` objects and

- switch over to `pathlib.Path` objects wherever possible.

[2022-01-21 16:04] jgd10 opened #100 "decouple the testing requirements of ansys-mapdl-core"
The test suite relies on the installation of ansys-mapdl-core to operate properly. However, this also relies on an installation of this package, which results in a circular requirement and you end up installing the latest version of the package into your venv alongside the development version which is a recipe for confusion.

We should decouple these as suggested by Alex in https://github.com/pyan

[2022-01-21 16:19] jgd10 commented on #100
At the moment tests won't run in PyCharm "Out of the box". And if you run pytest itself within the tests folder, it uses the installed version and not the development version.

[2022-01-26 10:30] jgd10 opened #104 "Prevent users from editing `filename` property on classes"
Whilst working on https://github.com/pyansys/pymapdl-reader/issues/98 I have made explicit `filename` and `pathlib_filename` properties on classes that have the `filename` property. I kept a setter for `filename` because to remove it would be a breaking change.

Additionally, whilst working on the tests for these changes I notice that if an invalid filename is provided the class constructor will t

[2022-01-26 16:51] jgd10 commented on #47
@1990chs I'll close the issue for you since it appears to be resolved!

[2022-01-26 16:51] #47 closed

[2022-01-26 16:53] jgd10 commented on #66
I think this is fixed? All the linked issues appear to be fixed too? Can this issue be closed?

[2022-01-26 16:58] jgd10 commented on #52
This appears to have been fixed by #56 ? If so is there anything else needed or can we close the issue?

[2022-01-26 17:02] jgd10 commented on #51
@NDfp @akaszynski This issue seems to have stalled. Do we need to implement a new issue to cover the non-trivial work that akaszynski suggests or is disabling the read-only flag sufficient to close this issue?

[2022-01-26 17:27] jgd10 commented on #52
Since this appears to be fixed I'll close this for now and we can reopen if something was missed!

[2022-01-26 17:27] #52 closed

[2022-01-26 17:29] jgd10 commented on #71
It looks like this has been resolved so I'm going to close the issue. If there are still things to cover we can reopen it!

[2022-01-26 17:29] #71 closed

[2022-01-26 17:30] jgd10 commented on #58
@1990chs It's been a while since you posted this; is it still an issue?

[2022-01-26 17:33] jgd10 commented on #51
It's been long enough since the last comment that I think it is safe to close this issue for now, unless anything else comes up and we can reopen it.

[2022-01-26 17:33] #51 closed

[2022-01-27 02:39] 1990chs commented on #58
I change a different rst file, it  is right. The old rst result has pyramid element. You can check it. I will try to avoid using the pyramid element.Thinks.
I can close this issue.

[2022-01-27 02:39] #58 closed

[2022-01-28 17:43] #57 closed

[2022-01-28 18:05] #55 closed

[2022-01-28 18:06] #98 closed

[2022-01-28 18:11] akaszynski commented on #104
I think deleting the setters is the most straightforward approach.

[2022-01-31 10:13] jgd10 commented on #100
So, the solution to this was to install in development mode and use Python 3.8 (3.9 didn't work). I have summarised the steps I took and added them to the README on the project. This was merged in in PR #103. The tests are still coupled, but the original problem is gone. This ticket should remain open, but is of lower priority now.

[2022-02-01 01:58] #104 closed

[2022-02-02 19:29] mjc865 opened #108 "Cyclic analysis: complex results always use mode pair"
It looks like the results always use the paired mode (instead of the duplicate sector, if available) when a complex result is requested.

In cyclic_ready.py line 520:
`result_r = self._get_complex_result(func, rnum, result)`

I believe this should be:
`result_r = self._get_complex_result(func, rnum, full_result)`

So that the entire result is passed to _get_complex_result

And farther down the fil

[2022-02-10 16:36] NDfp opened #109 "Import material stress limits"
Hello,
I would like to import from a .rst file the stress limits associated with a material.
This information should be included in the .rst file.
In pyansys I have found the mesh.materials property but it does not include the stress limits.
Is there a function implemented for reading these data?

[2022-02-11 14:45] NDfp commented on #109
Update:
I checked in Ansys Classic. There I can see the data with TBLIST. It seems the data is stored in a table. I could however not find where (and if) these are imported. There is a ptrDSIl imported in rst.py but it seems to import the result tables only.

[2022-02-11 15:57] akaszynski commented on #109
Hi @NDfp, can you upload a basic rst containing the stress limits? I'll add it to the unit testing and get the feature added.

[2022-02-11 15:58] akaszynski commented on #94
@germa89, this should be addressed as of the latest release. Ping me if it's still an issue.

[2022-02-11 15:58] #94 closed

[2022-02-13 18:53] germa89 commented on #94
I haven't seen the warning in a long time, so I guess it is fixed.

[2022-02-14 08:18] NDfp commented on #109
Hi Alex,
that sounds great!
I'll try to attach a test model. If it doesn't work, I will send you via
email.
Thank you
Francesco

On Fri, 11 Feb 2022 at 16:57, Alex Kaszynski ***@***.***>
wrote:

[2022-02-17 13:05] pmaroneh opened #112 "result.animate_nodal_displacement() crashes"
I've run a modal analysis, which I'd like to postprocess.
[code]
does create an animation of the first mode
![image](https://user-images.githubusercontent.com/76440649/154487535-0feb0e6b-0f44-4dd0-8006-fbb4378831bb.png)
but when closing the plot window, the following error is returned:
![image](https://user-images.githubusercontent.com/76440649/154487770-61647a17-96da-4099-8c95-523901170e48.png)

[2022-02-17 21:16] raphael-31 opened #110 "Displacement reading issue with nodal_displacement"
Hi,
I am using pymapdl-reader to read an rst file from a simulation to analyse the displacement of a modal analysis.
There is no probleme when I take directly from the displacement list of the APDL gui, but when I am trying to read it with the method : result.nodal_displacement(mode), I have the following problem : all my displacement or either huge, either null :
[-1.00111706e+172  0.00000000e+00

[2022-02-21 18:03] germa89 opened #111 "Warning when using `animate_nodal_displacement`"
[code]

Related to pyansys/pymapdl#904

[2022-02-22 14:29] germa89 commented on #111
Closing issue because I wasn't able to replicate it.

[2022-02-22 14:29] #111 closed

[2022-02-22 20:19] germa89 commented on #112
Transferred to pymapdl reader because the error is in that library.

[2022-02-22 20:58] #112 closed

[2022-02-23 08:38] FredAns commented on #110
Hi Raphael,

It may be because records in the RST Files are compressed must of time, and I think the pymapdl-reader module is not compatible with the last evolutions of this compression algorithm ( @akaszynski, this is a 22.1 RST File, and I worked again on that during this last release).

You can use an alternative way to read these quantities, especially the one described in this example:

[(htt

[2022-02-23 10:15] akaszynski opened #115 "Remove optional wheels for Python 3.10"
[code]

[2022-02-23 10:16] germa89 commented on #115
Roger

[2022-02-23 11:02] #115 closed

[2022-02-23 14:07] raphael-31 commented on #110
Thanks, merci beaucoup !

Raphaël.

[2022-02-23 21:49] raphael-31 commented on #110
Hello,

One last question the displacement at 1.267e30 are huge compared to the others, is-it also a mistake with the format when I am reading ?

Thanks,
Raphaël.

[2022-02-23 23:43] #109 closed

[2022-02-24 10:41] FredAns commented on #110
Hi Raphael, no mistake here.
These huge values are used to flag some dofs values. You can replace these values by zeros.
That's how the MAPDL GUI or DPF handle these special values. Perhaps we should automatize (least optionally) this operation in PyMapdl.
Regards
Fred

[2022-02-24 10:59] NDfp commented on #109
It works like a charm. Thank you a lot!

[2022-02-24 12:48] akaszynski commented on #110
Thanks @FredAns!

Since it's not really possible for `pymapdl-reader` to keep up with changes upstream, this should be another reminder to use [ansys-dpf-core](https://dpfdocs.pyansys.com/) or the [MAPDL Database Explorer](https://mapdldocs.pyansys.com/api/_autosummary/ansys.mapdl.core.xpl.ansXpl.html)

[2022-02-24 12:49] akaszynski commented on #110
We can leave this open as an issue and potentially fix compression if it's necessary to maintain/update for 22.1

[2022-02-24 16:01] NDfp opened #119 "Material ID incorrect"
Hello,
When importing the materials:
`result.materials`
the materials are numbered consecutively starting from 1.
In the element-material association vector:
`result.mesh.material_type`
the IDs differ from the ones in the material list.
When considering the unique number of IDs in `material_type`, the number of materials in `materials` is obtained.
I assume the ID in the `materials` list is incorr

[2022-02-24 16:21] NDfp commented on #119
Some more details:
The key is defined in:
`self._materials[mat_data_ptr[0]] = material`
`mat_data_ptr` is defined in:
`idx_st = 3 + i*(n_mat_prop + 1)`
`idx_en = 3 + i*(n_mat_prop + 1) + 1 + n_mat_prop`
`mat_data_ptr = mat_table[idx_st:idx_en]`
From the documentation, "last 2 data contains the active table number and material ID". I however did not find in the record anything similar to the ID (ap

[2022-02-24 16:28] akaszynski commented on #119
I'll look into this. Thanks for posing the issue!

[2022-02-25 07:59] NDfp commented on #119
Another point. With a model (which unfortunately I cannot share) I had more unique entries in `material_type` than in `materials`.
Btw, Ansys appears to duplicate the the material definitions: I have significantly more materials in the rst as in Engineering Data.

[2022-02-25 10:27] pmaroneh commented on #119
Hello @NDfp. To reply to your comment: Mechanical will create one material ID per body, so if only one material is defined in Engineering Data but the model has three different bodies, the .rst file will show three mat IDs (but the material properties will be the same of course).

[2022-03-08 12:59] NDfp commented on #119
Hi Alex,
do you have an update concerning this issue?
Regards
Francesco

[2022-03-14 11:24] da1910 opened #120 "PyVista deprecation warnings in examples"
The pyvista deprecation warnings reported in pyansys/pymapdl#827 have recurred.

[code]

See for example:
https://dev.mapdldocs.pyansys.com/examples/00-mapdl-examples/pressure_vessel.html

[2022-03-16 12:22] germa89 commented on #120
Nevermind, the problem was in the reader version fixed when building docs. Hence getting it back to pymapdl.

[2022-03-18 13:49] akaszynski commented on #119
Hi @NDfp,

I've looked into this and it appears that the result is reading in the material type correctly:

In:
[code]

We store the material data by material number in:
[code]

Which is the first item in the material data pointer array.

Please email me at alexander.kaszynski@ansys.com and let's see if there's a way we can share the rst file.

[2022-03-21 08:13] NDfp commented on #119
Hi Alex,
in the file I have sent you, the ID of the materials in self._materials ranges from 1 to 7.
In self.mesh.material_type the IDs range between 1 to 14. Is there another variable containing the material ID for all the elements?
Regards
Francesco

[2022-03-23 08:43] NDfp commented on #119
Maybe a question first. Is self.mesh.material_type the correct entity? If not, where do I find the material ID for each element?

[2022-03-24 15:28] Anderstend commented on #48
Yes I tried that with the following result:
TypeError: nodal_solution() got an unexpected keyword argument 'as_complex'

Got this error as well with 'nodal_stress' and 'nodal solution'.

No changes on this issue with the current version.

[2022-04-07 07:51] NDfp commented on #119
@akaszynski FYI my office mail is not working. In case you need to contact me, please use github or my private email

[2022-04-08 16:07] akaszynski opened #122 "Add archive file materials attribute"
Expose the `materials` attribute to the `Archive` class.

[2022-04-10 19:40] Deliangus opened #123 "Build Error: gcc: error: ansys/mapdl/reader/cython/_archive.c: No such file or directory"
# Environment:
[code]

[2022-04-14 04:06] akaszynski commented on #123
Looks like `cython` isn't generating the source files. What's the command you used to build this?

[2022-04-19 15:26] germa89 opened #124 "`mapdl.eplot` fail to plot `target170` elements"
## Fail

[code]
### Error
[code]

I haven't investigate it much. But it is very likely related with **pymapd-reader**.

[2022-04-21 05:03] #124 closed

[2022-04-21 10:46] NDfp commented on #119
Hi,
Do you have any update on this issue?

[2022-04-21 13:21] rlagha commented on #119
@NDfp Do you have Ansys 2022R2 install? if so you can try to get this data using pydpf.

[2022-04-30 15:59] NDfp commented on #119
Unfortunately not. At the moment 2021R2.
If possible I would however prefer to stay in the pyansys environment; changing the whole code would be quite some work...

[2022-05-06 15:01] germa89 opened #130 "Not being able to install in editable mode"
Trying to install the pymapdl-reader in linux, I get this:

[code]

[2022-05-06 17:46] akaszynski commented on #130
We're missing the `-std=c99` in our `setup.py`.

[2022-05-09 09:47] NDfp commented on #119
Unfortunately at the moment I do not have 2022 (and I cannot install it since we have not yet fully recovered from a cyber attack).
@rlagha could you maybe test it for me? I can provide the model if Alex has not done so yet.
@akaszynski is there a chance of having the issue patched in pyansys?

[2022-05-13 11:59] rlagha commented on #119
@NDfp , is your question to have the associativity between the elements and the materials? if so, the yes with DPF you can get this.

[2022-05-13 14:54] NDfp commented on #119
@rlagha sounds great. Dos it work also with 2021R2?
Have you tried also with the model I sent Alex? Just to be sure.
Otherwise, could you help me on how to do it? I have tried to use DPF but so far with very little success.

[2022-05-13 15:04] dpfbuild commented on #119
@NDfp I did this with a server based on 2022R1 unfortunately. If you have access to it, this is great, otherwise soon we will provide DPF as a standalone server.

[2022-05-13 15:18] NDfp commented on #119
At the moment we are unfortunately still not able to install new software. The newest installed version is 2021R2

[2022-05-19 12:02] germa89 opened #132 "Bug located when installing in editable mode in Windows"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

[code]

### Steps To Reproduce

Run ``pip install -e .`` in the cloned repo.

### Which Operating System are you using?

Windows

### Which Python version are you using?

3.9

### Installed packages

[code]

[2022-05-19 12:02] germa89 commented on #132
Probably related to #123 and #130

[2022-05-19 12:34] germa89 commented on #130
I was able to install it without modification by doing first:

[code]

It seems some C++ libraries where missing.

[2022-05-19 12:34] #130 closed

[2022-05-19 12:35] germa89 commented on #123
I recommend to do first

[code]

and then try again to install.

[2022-05-19 12:36] #123 closed

[2022-05-19 12:40] germa89 commented on #132
My fault.

It seems I was having some python processes running which were using the ``pymapdl-reader`` package, hence the access problem.

If I do a new cloned repo, there is no issue.

[2022-05-20 13:41] LetoTheJust opened #133 "Getting the limit values from color bar in animate_nodal_displacement"
Hello,
I am trying to automate postprocessing of **cyclic model**. I stumbled into following problems:
1) I would like to animate multiple mode shapes, one after another, but each requires different `displacement_factor`. Can I somehow get the maximum on the colorbar so I could use that value as basis for parametric displacement factor?
2) Some of my models are not modelled in CSYS=1. Is there som

[2022-05-31 11:17] RobPasMue opened #139 "PyMAPDL Reader docs image"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

When accessing the docs, it looks like the PyAnsys image is not the default one used nowadays (probably an old version): This should be adapted, probably by updating the PyAnsys Sphinx Theme version if I'm not mistaken.

This same problem has b

[2022-06-13 16:39] NDfp commented on #119
Hi Mike,
thank you for the suggestion and sorry for the delay.
I have passed the topic to my colleague Sven. He will get in touch with you.
Regards
Francesco

[2022-06-17 22:14] #139 closed

[2022-06-20 10:53] kp3393 opened #141 "Installation of ansys-mapdl-core and ansys-mapdl-reader on macOS Monterey 12.4 (M1)"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

Hello team,
I'm having issues installing ansys-mapdl-core and ansys-mapdl-reader on macOS Monterey 12.4.
Here is the setup detail:
1. Using PyCharm 2022.1.2 (Professional Edition)
2. Using Conda Environment
3. Python version 3.9.5

Please, find

[2022-06-20 13:00] germa89 commented on #141
I think you could install ``pymapdl-reader`` version 0.51.7 (released in 24 Nov 2021) using this [link](https://stackoverflow.com/questions/5226311/installing-specific-package-version-with-pip).

And then install ``pymadpl-core`` using normal ``pip install``.

You
If you are looking for an older version, you need to:
1. Install the version of ``pymapdl-reader`` you want.
2. Clone the ``pymapdl`` p

[2022-06-20 14:29] kp3393 commented on #141
Still the same error. I tried v0.51.5, v0.51.6, and v0.51.7. Still error: legacy-install-failure.
I tried pip (as mentioned above) and installing it directly from the git, I also cleaned my virtual environment and created a new one (to remove old installations), but nothing works.

I appreciate your help, though! Appreciate it.
I will be very grateful if the team can address this issue :).

[2022-06-20 23:46] akaszynski commented on #141
We stopped building wheels for MacOS several releases back. If this is still needed we can start making the wheels again. Recommending https://cibuildwheel.readthedocs.io/

@germa89, do you think you'll be able to handle this?

[2022-06-21 09:25] germa89 commented on #141
@akaszynski  let me give a shot when I get the new laptop.

[2022-07-07 14:16] mikerife commented on #119
Hi @germa89 I don't think the reader needs anything - it is reporting exactly what is in the model.  Mike

[2022-07-08 10:08] nasdr commented on #119
Hey everyone,
also from my side: sorry for the delay. I'm currently familiarizing myself with the issue. I am trying to reproduce the error to be able to give more insights. In general I can say that we do not work with contacts but with merged nodes.
I will keep you posted.
Best regards
Sven

[2022-07-08 10:53] germa89 commented on #119
I'm closing this issue then. But if new related info appears, @nasdr and @NDfp feel free to reopen it or open a new one.

[2022-07-08 10:53] #119 closed

[2022-07-08 14:06] mikerife commented on #119
Hi @nasdr Contact elements are not the only type that have material model capability but not always a reason to use a material model, and so could cause same behavior.  For example surface effect elements.  Some Joint elements.  In WM Mechanical the 'Deformable' and 'Rigid' connection types for "Remote" type of objects are attached to the model via contact elements.  As Joints can be.  So there ma

[2022-07-13 22:24] akaszynski commented on #141
@germa89, you can do this without a Mac, just use `cibuildwheel`. See https://github.com/pyvista/pymeshfix/pull/44/files.

[2022-07-13 23:59] CesarRodriguezPereira opened #142 "rst.animate_nodal_solution doesn't work off notebook"
### 🔍 Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### 🐞 Description of the bug

Launching animations on ipynb files within VSCode demands that the user runs the animate nodal solution with the notebook=False keyword argument, else you'd only get the first frame and the animation would get stuck. However, the latest ver

[2022-07-14 00:14] CesarRodriguezPereira commented on #142
Adding a comment to note: this TypeError happens with every version back to 0.51.6. Versions before that give another error, which is a key error during normal computation, my bet is that that happens due to Pyvista updates. Now I'll probably see if downgrading ansys-mapdl-core fixes this, and later I'll try downgrading pyvista (animation is a key feature I'll be using to understand how to run and

[2022-08-01 16:31] RobPasMue opened #146 "Support the build of macOS"
### 📝 Description of the feature

From version ``0.51.8`` onwards (https://github.com/pyansys/pymapdl-reader/pull/93) support for macOS builds was removed. Package is not available in pip from ``0.51.7`` onwards. Following the PyAnsys metapackage creation (and ``ansys-mapdl-reader`` being an optional dependency of it), we should try and support it.

### 💡 Steps for implementing the feature

Try re

[2022-08-04 03:55] #146 closed

[2022-08-04 04:09] akaszynski commented on #142
Sorry about getting back to you so late regarding this. We're really trying to shift people over to DPF and this isn't getting as much love as it used to.

However, as long as people are using it, I'm happy to support it.

I guess animation is missing from both [PyDPF-Core](https://github.com/pyansys/pydpf-core) and [PyDPF-Post](https://github.com/pyansys/pydpf-post).

[2022-08-04 04:26] #142 closed

[2022-08-04 05:13] #141 closed

[2022-08-04 17:30] CesarRodriguezPereira commented on #142
Great that it works, thanks! When I can I'll have a deep dive into DPF-Core and Post, but yeah, animations just bring so much understanding when performing modal or tranisent analyses.

I'd say the biggest hurdle (for me at least) that has prevented me from taking a dive into those libraries is the integration with PyMAPDL: a simple ```result = mapdl.result``` gets you an easy post-processing obje

[2022-08-04 18:18] akaszynski commented on #142
That's on the to-do list for sure, it's just a matter of getting around to it. I agree with having simple integration and that's a PR being implemented in https://github.com/pyansys/pymapdl/issues/1298

[2022-08-23 00:10] agrishin opened #151 "materials dictionary in pymadl reader result"
### Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### Description of the bug

Issuing the following:
[code]
results in the following materials dictionary after reading in thermal model
[code]
The materials in that model have temperature dependent properties.

### Steps To Reproduce

See above

### Which Operating System

[2022-08-23 19:57] akaszynski commented on #151
@germa89, feel free to use the example thermal file @mikerife provided in #150 and include it in [tests/testfiles](https://github.com/pyansys/pymapdl-reader/tree/main/tests/testfiles).

[2022-08-23 20:16] mikerife commented on #151
@germa89 Here is a simpler version of that rth file with one material model but the same two properties are temperature dependent.
[rth-file.zip](https://github.com/pyansys/pymapdl-reader/files/9410403/rth-file.zip)

[2022-08-23 20:51] agrishin commented on #151
Ok, guys. Please download the link below. I think you'll see the problem...
https://padtinc.sharefile.com/d-s0adb0d2b54a34686913a70e2ea31fa25

[2022-08-24 08:01] germa89 commented on #151
That is quite a big file. I'll be using @mikerife 's one for the unit tests.

[2022-08-24 22:04] akaszynski commented on #151
Validate with @agrishin and let me know if it works. I'll approve #150 after verification.

[2022-08-25 10:20] germa89 commented on #151
It seems to (partially) work. **See thermal expansion coefficients.**

I unzipped the ``wbpz`` file (it is a zip at the end of the day). And I open the ``rth`` file under ``sr_1390_mat_import_files\dp0\SYS\MECH`` using:
[code]

Then I'm double checking some properties.

### Density
![image](https://user-images.githubusercontent.com/28149841/186637510-dadcb65f-d1d8-43e3-8b69-566df8e3037e.png)

[cod

[2022-08-25 10:37] germa89 commented on #151
Thinking about the possible reason for the differences between workbench and the reader... Thinking a bit out loud here.

The first value is the same:
[code]
But then it start to diverge, it is like the "secant" has a different slope.

The first value is also the closest to the reference temperature (20 in workbench, unknown in the reader), so if it is an issue with the temperature reference it ma

[2022-08-25 10:40] germa89 commented on #151
I opened the ``rth`` file with the good old Mechanical APDL GUI, and guess what....

![image](https://user-images.githubusercontent.com/28149841/186643590-21081100-5b6d-45f3-bd0a-6fbe7dd4334a.png)

The reader is right!!

Interestingly, the reference temperature is blank.

[2022-08-25 15:04] mikerife commented on #151
Hi @germa89 I'm OoO for a few days and will look into what WB and MAPDL are doing here when I get back.  Mike

[2022-08-25 15:22] germa89 commented on #151
Sure thing. No rush!

[2022-08-25 23:16] akaszynski commented on #151
Thanks for digging through this @germa89. Let's wait until @mikerife has something to say about why MAPDL/reader disagree with Mechanical.

[2022-08-29 21:19] mikerife commented on #151
Hi @germa89 @akaszynski @agrishin Well, all three programs are correct.  We just need to look at the material data in a certain way.

The material specific strain free temperature is given in the Engineering Data here:
![WB-Mat](https://user-images.githubusercontent.com/91209185/187298970-ba1f796d-7e2e-4b5e-a9af-fdc7d11cb22b.PNG)

And TREF the general reference temperature is given here:

![Mech-M

[2022-08-30 16:11] germa89 commented on #151
Great comment @mikerife. Thank you very much for your detailed work.

I presume then we can conclude Reader data is correct and proceed to approve https://github.com/pyansys/pymapdl-reader/pull/150 @akaszynski

[2022-08-30 16:21] #151 closed

[2022-09-23 09:45] Keynaan opened #153 "ansys.mapdl.reader can not read large CDB files"
### 🔍 Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### 🐞 Description of the bug

It seems, that the CDB File reader in `ansys.mapdl.reader` can not read large files due to the old 32bit problematic.

Disclaimer: I am not that into C++, so take my suggestions with care!

I might have tracked it down to `ansys/mapdl/reade

[2022-10-05 21:31] akaszynski commented on #153
@Keynaan, sorry for the delayed response. I'm looking into this right now.

[2022-10-05 22:06] akaszynski commented on #153
Perfectly reproduced this. Coming out with a fix shortly (example requires the fix, so don't run it just yet):

[code]

Thanks for your excellent work identifying the issue and reporting your debugging env.

[2022-10-06 00:01] #153 closed

[2022-10-06 04:44] akaszynski commented on #153
Resolved as of [ansys-mapdl-reader==0.52.1](https://pypi.org/project/ansys-mapdl-reader/0.52.1/).

Thanks again for pointing out this issue.

[2022-10-11 06:59] agrishin commented on #151
Not sure if this is at all helpful, but check out the following:
https://www.padtinc.com/2017/07/11/secant-or-instantaneous-cte-understanding-thermal-expansion-modeling-ansys-mechanical/

Alex Grishin, PhD
Consulting Engineer
PADT, Inc.
www.padtinc.com
480-813-4884 x133
***@***.***

Simulation – Product Development – Rapid Prototyping

CONFIDENTIALITY NOTICE: This e-mail message and any attachment

[2022-10-12 10:06] Keynaan commented on #153
Perfect! It works. Thank you.

[2022-10-13 15:46] mikerife opened #157 "Two documentation Examples do not scroll correctly."
### 🔍 Before submitting the issue

- [X] I have searched among the existing issues
- [X] I am using a Python virtual environment

### 🐞 Description of the bug

https://reader.docs.pyansys.com/examples/00-read_binary/load_shaft_result.html#sphx-glr-examples-00-read-binary-load-shaft-result-py

https://reader.docs.pyansys.com/examples/01-cyclic_results/academic_sector_nd.html#sphx-glr-examples-01-cy

[2022-10-13 17:47] akaszynski commented on #157
Should be resolved by #158. Thanks for pointing that out.

[2022-10-13 19:29] #157 closed

[2022-11-14 14:44] RobPasMue opened #173 "Starting on v0.51.6 no source distribution is uploaded to PyPI"
Starting on v0.51.6 and onwards, no source distribution is being shared in PyPI. This can be checked here:

* v0.51.5: https://pypi.org/project/ansys-mapdl-reader/0.51.5/#files
* v0.51.6: https://pypi.org/project/ansys-mapdl-reader/0.51.6/#files
* v0.51.7: https://pypi.org/project/ansys-mapdl-reader/0.51.7/#files
* ...
* v0.52.3 (latest): https://pypi.org/project/ansys-mapdl-reader/#files

Uploadi

[2022-11-14 14:59] RobPasMue commented on #173
This was realized because of https://github.com/pyansys/pyansys/actions/runs/3462305380/jobs/5781019668

We are trying to build the Python 3.11 ``pyansys`` metapackage. And no Python 3.11 wheel is available just yet for ``ansys-mapdl-reader``

[2022-11-14 16:00] #173 closed